.footer {
    padding: 20px;
    background-color: #494949;
    .container {
        display: flex;
        flex-direction: column;
        color: #fff;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
        font-family: "Shrikhand";
    }
    &__nav {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    &__text{
        font-size: 17px;
    }
    li {
        margin-bottom: 10px;
        &:hover a{
            color: $color-primary;
        }
        @media screen and (min-width: 768px) {
            margin-right: 25px;
        }
    }
    a {
        display: flex;
        transition: 0.3s ease-in-out;
        color: #fff;
        i {
            width: 20px;
            margin-right: 10px;
        }
    }
}
