.footer {
    padding: 20px;
    background-color: #494949;
    .container {
        display: flex;
        flex-direction: column;
        color: #fff;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
        font-family: "Shrikhand", cursive;
    }
    &__nav {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    li {
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            margin-right: 25px;
        }
    }
    a {
        display: flex;
        color: #fff;
        i {
            width: 15px;
            margin-right: 10px;
        }
    }
}
