header {
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    z-index: 1000;
    .logo {
        font-size: 4rem;
        width: 50%;
        margin: auto;
        @media screen and (min-width: 768px) {
            width: 25%;
            padding: 10px;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .arrow {
        position: absolute;
        font-size: 23px;
        left: 39px;
        top: 39px;
    }
}
