.heart {
    position: relative;
    height: 50px;
    width: 60px;
    i {
        position: absolute;
        left: 10%;
    }
    .heart-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 0px;
        transform: translate3d(-50%, -50%, 0);
        transition: all 1s;
        cursor: pointer;
        background: linear-gradient(193deg, $color-primary 0%, $color-secondary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover .heart-fill {
        font-size: 26px;
    }
    .heart-unfill {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 25px;
        transition: all 1s;
    }
}
